/build/
/validation/
/dist/
/.vs/

logs/
config.ini
cache.ini
*.log

*.obj
*.pdb
*.ilk
*.lib
*.exp
*.zip
*.nupkg
!third_party/webview2/build/native/x64/WebView2LoaderStatic.lib

ProjectOreoLauncher.exe.WebView2/
